{:paths ["src"]
 :deps {
        org.clojure/clojure {:mvn/version "1.11.1"}
        tick/tick {:mvn/version "0.5.0-RC5"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.66.1034"}}}}}
